body {
  margin: 0;
  overflow: auto;
  /*margin-left: 5%;*/
  /*margin-right:5%;*/
  height: auto;
  width: 100%;
  /*min-width: 980px;*/
  border: 4px solid #c2c2d6;
}
.content{
  display: block;
}
.banner img{
  width: 100%;
  max-height:275px; 
  /*margin-left: 5%;*/
  /*margin-right: 5%;*/
  border: 1px solid #c2c2d6;
}

.content{
  width: 100%;
  /*border: 6px solid black;*/
}
.main-div{
  width: 100%;
  /*margin-right:5%;*/
  /*border: 6px solid black;*/
}
.aboutdiv {
  /*padding-top: 5px;*/
  margin-top: 5px;
  /*margin-left: 10px;*/
  padding: 5px;
  text-align: center;
  /*width: 60%;*/
  color: #0e0f0a;
  /*border: 1px solid black;*/
  /*background-color: #A9A9A9;*/
}
.notice{
  padding: 5px;
  /*margin-top: 5px;*/
  /*margin-left: 10px;*/
  text-align: center;
  /*width: 60%;*/
  color: #0e0f0a;
  /*border: 1px solid black;*/
  /*background-color: #A9A9A9;*/
}


.sponImg1{
margin-top: 5px;
max-width: 30%;
height: 160px;
}
.sponImg2{
margin-top: 5px;
max-width: 40%;
height:140px;
}
.sponImg{
margin-top: 5px;
max-width: 30%;
height: 150px;
margin-bottom: 10px;
}
.stee-comm{
  /*margin-left:5%;*/
  /*width: 60%;*/
  padding: 5px;
  font-size:18px;
  color: #0e0f0a;
  margin-bottom: 80px;
}

ul,li {
    /*list-style-type: none;*/
}
/* .information {
  display: flex;  equal height of the children 
}*/
/*.main-div{
  display: flex;
}*/

.home-table{
  font-size:16px;
  margin-left: 10px;
  border-collapse: separate;
  border-spacing: 15px 20px;
  /*font-weight: bold;*/
  color: #0e0f0a;
  /*border-right-color: */
}
.news{
  /*width: 65%;*/
  color: #0e0f0a;
  font-size: 16px;
}
.impdates{
  margin-left: 10px;
  font-size: 16px;
  color: #0e0f0a;
}

.calls, .div{
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  color: #0e0f0a;
}

.workshop, .div{
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  color: #0e0f0a; 
}

.tutorial, .div {
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  color: #0e0f0a;
}
.workshop, .ol{
  list-style-type: disc;
}
..footer-blurb {
    padding: 30px 0;
    margin-top: 20px;
    background-color: #eee;
    color: black;
}
    
.footer-blurb-item {
    padding: 20px;
    }
 
.small-print {
  background-color: #fff;
  padding: 30px 0;
}

.small-print {
  text-align: center;
  }
.keynote-containerb {
  background-color: #FFFFFF;
  box-shadow: 0 4px 3px -3px #d2c30e;
  padding: 35px;
  margin: 10px; }
  
.keynote-container {
  background-color: #eeeeee;
  box-shadow: 0 4px 3px -3px #d2c30e;
  padding: 10px;
  margin: 10px; }
  .keynote-container a {
    color: #B2243B; }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.round-corners {
  border-radius: 0px 15px; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }
.calls,.tutorial,.workshop{
  /*width: 60%;*/
  padding: 10px;
}

.minimumWidth {
  width: 100%;
}

.leftDiv{
  width: 100%;
}

.rightDiv{
  width: 100%;
}
.rd{
  width: 100%;
}
.imgSpo{
  margin-top: 5px;
  max-width: 35%;
  /*height: auto;*/
  /*height: auto;*/
  /*border: 1px solid black;*/
  /*float: left;*/
  /*display: inline-block;*/
}
footer {
  /*position: absolute; */
  bottom: 0;
  overflow: auto;
  /*margin-top: 200px;*/
  width: 100%;
  /*min-width: 980px;*/
  /*border: 10px solid black;*/
  /*height: 100px;*/
  /*padding-top: 10px;*/
  background-color: #c2c2d6;
;
  color: #666666; }
.strong{
  /*margin-left: 5%;*/
  width: 100%;
  text-align: center;
  /*height: 10px*/
  /*margin-top: 20px;*/
  font-size:16px;
  /*border: 1px solid black;*/
  /*margin-top: 100px;*/
}
.sponsors{
  width: 100%;
  /*margin-right: 10px;*/
  /*border: 1px solid black;*/
  text-align: center;
  vertical-align: top;
  /*top:60px;*/
  /*padding-bottom: 50px;*/
}

.fa {
  /*padding: 10px;*/
  /*float: right;*/
  /*line-height: 0.1;*/
  /*padding: 10px;*/
  font-size: 25px;
  /*width: 50px;*/
  /*text-align: center;*/
  text-decoration: none;
}
.social{
  /*float: right;*/
  margin-left:35%;
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  /*border: 1px solid black;*/
  /*width:25%;*/
}
.social div{
  display: inline-block;
  vertical-align: top;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  /*background: #3B5998;*/
  color: #3B5998;
}

/* Twitter */
.fa-twitter {
  /*background: #55ACEE;*/
  color: #55ACEE;
}
.strong p{
  text-align: center;
  /*margin-top: 15px;*/
}

.navigation span{
  color: black;
  font-weight: bold;
}
.navigation {
  border-color: rgb(171, 171, 164);
  border-width: medium;
  border-style: solid;
   z-index: 100;
  top:0;
  position: sticky;
}